/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 1000px;
    height: 600px;
    margin: 30px 30px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  #fname{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  #lname{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  
  #gender{
    width: 8%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  #country{
    width:12%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  
  #phone{
    width: 30%;
    height: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  #emails{
    width: 30%;
    height: 20px;
    border-radius: 5px ;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  #subject{
    width: 50%;
    height: 200px;
    border-radius: 5px ;
    background-color: #ffffff;
    padding: 0 auto;
    margin: 2px 2px auto;
  }
  
  .custom-file-input {
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    opacity: 0.6;
  }
  .custom-file-input:hover{
    border-color: black;
    opacity: 1;
  }
  
  
  