{% extends 'base.html' %}

{% block head %}



<div class="page_body">
Welcome to...
<pre>
__________.__         .__            .___                          
\______   \  |   ____ |__|____     __| _/____   ______     .__     
 |     ___/  | _/ __ \|  \__  \   / __ |/ __ \ /  ___/   __|  |___ 
 |    |   |  |_\  ___/|  |/ __ \_/ /_/ \  ___/ \___ \   /__    __/ 
 |____|   |____/\___  >__(____  /\____ |\___  >____  >     |__|    
    	            \/        \/      \/    \/     \/              
</pre>

<div>
<p>Type help for a list of supporte

<div id="terminal">
	<script src="{{ url_for('static', filename='js/terminal.js')}}"></script>
</div>
      
</div>


</body>
 
</html>




<!--
<h1>Portfolio Website </h1>
 
<p>This is test code for a portfolio project website for Mr Heine. :PP</p>

Timecard May 21 8:15 <br>
Timecard May 21 8:36 - Created input function, need to crystallize the previous output of the previous function call. <br>
Timecard May 21 9:44 - General code format discovered<br>
Timecard May 22 12:45 - Unable to make a newline for some unknown reason<br>
Timecard May 22 1:39 - Played around with CSS for this, ran into the problem of a thin caret for the input box.
Timecard May 22 4:35 - Finished basic terminal input and output system, played around with the decoration a bit more, all thats left is making commands and that cursor from hell. <br>
Timecard August 11 8:34 PM - Successfully integrated with Flask app
</p>
<p>Everything after this will be JavaScript :/</p>


-->

{% endblock %}