<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new page</title>
    <link rel="stylesheet" href="../static/css/new_page.css">
    <link rel= "icon" href="../img/logo_2.png" type="imges/icon">

</head>
<body>
    <header>
        <!-- <nav class="head_nav">
            <a href="#" class="nav_link_1">Dashboard</a>
            <a href="#" class="nav_link_1">Databases</a>
            <a href="#" class="nav_link_1">Available</a>
        </nav> -->
        <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Databases</a>
                <!-- <ul>
                  <li><a href="#">2015</a></li>
                  <li><a href="#">2014</a></li>
                  <li><a href="#">2013</a></li>
                </ul> -->
              </li>
              <li><a href="#" class="active">Available</a>
                <!-- <ul>
                  <li><a href="#">Appetizers</a></li>
                  <li><a href="#">Main</a></li>
                  <li><a href="#">Desserts</a></li>
                </ul> -->
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        <section>
    </header>

    
    <main>
        <button >Pleiades-One</button>
        <form action="#" method="get">

            <div class="school_name">

                <label for="pleiades_one" class="pleiades_one_label">Pleiades-One</label>
                
                <input type="text" name = "pleiades_one" id="pleiades_one" list="pleiades_one-list" placeholder=" "
                autocomplete="on" required autofocus>
                <datalist id="pleiades_one-list">
                    <option value="Pasadena City College Directiory">                      
                </datalist>            
            </div>

            <div class="input">
                <label for="searchQuery" id="searchQuery">Search Query</label>
                <br>
                <input type="text"  name = "type" id="type" list="type-list" placeholder="Type:"
                required autofocus>
                <datalist id="type-list">

                    <option value="Student">
                    <option value="Stuff">
                    <option value="Department">                        
                </datalist>
                <br>
                <input type="text" name="firstName" id="firstName" placeholder="First Name:"
                required autofocus>
                <br>
                <input type="text" name="lastName" id="lastName" placeholder="Last Name:"
                required autofocus>

                <br>
                <textarea name="typeMessage" id="typeMessage" cols="30" rows="10"
                placeholder="Type Message"></textarea>
                
                <br>
                <button type="submit" id="submit">Submit</button>
            </div>
            
            <div class="alphaUser">
                <p>Alpha-Electra-One: Users<p>
            </div>


        </form>
    </main>
    <footer>
        
    </footer>
</body>
</html>